doctype html
html
	head
		title #{title}
		script(src='/libs/jquery/dist/jquery.min.js')
		link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
	body
		block content
	nav(class="navbar navbar-inverse navbar-fixed-top navheader")
		div(class="container")
	div(class="container-fluid")
		div(class="row")
			div(class="col-sm-3 col-md-2 sidebar")
				ul.nav.flex-column.bg-light
					li.nav-item(class="active")
						a.nav-link(href="#") 用户管理
					li.nav-item
						a.nav-link(href="#") 文章管理
			div.bg-light(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")