doctype html
html
	head
		title code monkey
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
	div(class="login_tb")
		center
			h1(class="login_title") Login
		form(action="/login", method="post")
			ul
				li
					span  &nbsp;&nbsp;&nbsp;account:
					input(name="name")
				li
					span password:
					input(name="password")
				li
					button(type="submit") 登录
