doctype html
html
	head
		title 文章列表
	body
		h1 Login...
		form(action="/login", method="post")
			div
				span account:
				input(name="name")
			div
				span password:
				input(name="password")
			div
				button(type="submit") 登录
