include ./layout

block content
	div.container
		div.rows
			div.col-lg-12.col-sm-12
			div.col-md-12
				table(class="table table-bordered")
						thead
							tr
							th 列表
						tbody
						each item in result
							tr
								td
									a(href="/articles/ditle?id=#{item.id}",target="_blank") !{item.title}