doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
		script(src='/libs/jquery/dist/jquery.min.js')
		script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
		script(src='/libs/ueditor/ueditor.config.js')
		script(src="/libs/ueditor/ueditor.all.js")
	body
		block content
